* {
    box-sizing: border-box;
  }
  
  body{
    font-family: Arial;
    direction: rtl;
    text-align: right;
    margin: 0px;
  }
  
  header{
    height: 105px;
    background-image: url(images/header_bg.png); 
  }

  .s-box{
    position: absolute;
    top: 5;
    padding: 20px;
    font-size: 0.9em;
    white-space: nowrap; 
  }

  .s-box> a{
    margin-right: 470px;
  }

  #search{
    border: white;
    padding: 2px;
    border-top-right-radius: 8px;
    margin-right: 10px;
  }

  input::placeholder{
    color: black;
  }

  input:focus::placeholder{
    color: transparent;
  }

  #klick{
    position: absolute;
    left:-5;
    bottom: 15;
  } 

  .row {
    display: flex;
  }

  .logo> img{
    position: absolute; 
    top: -44;
    right: -120 ;
  }

  .menu{
    height: 44px;
    margin-top: -44px;
  }

  /* menu content start */
  .drop{
    position: relative;
    margin-right: 10px;
    margin-left: 10px; 
  }

  ul{
    list-style: none;
    justify-content: center;
    white-space: nowrap; 
  }
 
  .m-col{
    display: block;
    margin-top: 10px;
    padding: 0px;
  }

  .m-col> li> a{
    padding-right: 6px;
    padding-left:100%;
    margin-left: 6px;
    white-space: nowrap; 
    padding-bottom: 10px;
  }

  .m-col> li:nth-of-type(odd){
    padding-bottom: 3px;
    padding-top: 5px;
    background-color: #909090; 
  }

  .m-col> li:hover{
    background-color: rgb(199, 196, 196);
  }

  .m-col> li:first-child{
    background-image: url(images/menu_dropdown_bg.png);
    background-repeat: repeat-x;
  }

  .m-col> li:first-child:hover{
    background-image: url();
    background-color: rgb(199, 196, 196);
  }

  a:hover{
    text-decoration: underline;
    color: rgb(0, 81, 161);
  }

  .sep-line{
    background-image: url(images/menu_dropdown_sep.png);
    height: 1px;
  }

  .drop-con{
    position: absolute;
    display: none;  
  }

  .drop:hover> .drop-con{
    display: block;
    z-index:9999;
  } 
  /* menu end */


  .content{
    height: 100%;
    justify-content: center;
  }

  a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
  }

  /* start index style */
  .col> .up-row{
    position: relative;
    width: 293px;
    height: 355px;
    margin-top: 20px;
    margin-right: 10px;
  }  

  .up-row> img{    
    width: 293px;
    height: 355px;
    border-bottom-right-radius: 2em;
  }

  .up-row> .in-box{    
    position: absolute;
    background-color: rgba(122, 121, 121, 0.904);
    right: 10px;
    bottom: 10px;
    padding: 10px;
    padding-top: 0px;
    width: 250px;
    color: #ffffff;
    font-size: 0.7em;
    border-bottom-right-radius: 2em;
  }

  .in-box> p, .in-box> h3{
    margin-right: 4px;
    margin-bottom: 0px;
    margin-top: 4px;
  }
  
  .more-con{
    text-align: left;
  }

  .way-con{
    text-align: right;
  }

  .more-con> a{
    text-decoration: underline;
    padding-left: 15px;
  }

  .in-box-d> .more-con> a, .way-con> a{
    color: rgb(75, 73, 73);
  }

  .more-con> a:hover{
    color: rgb(0, 81, 161);    
  }

  .more-con{
    background-image:  url(images/read_more_white.png);
    background-repeat: no-repeat;
  }

  .more-con:hover{
    background-image:  url(images/read_more_blue.png);
    background-repeat: no-repeat;
  }

  .col> .d-row{
    position: relative;
    width: 292px;
    height: 216px;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 0.7em;
    color: black;
  }  

  .d-row> .in-box-d{ 
    position: absolute;
    top: 8;
    right: 21;  
    width: 250px;
  }

  .in-box-d> img{
    margin-bottom: 20px;
  }

  .in-box-d> h3{
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 20px;
  }   
 
  .way-box{
    position: relative;
    padding: 0;
    margin: 0;
  }

  .way-box> .way-con-box{
    position: absolute;
    right: 15;
    bottom: 110;
  }

  .way-con-box> .way-con{
    padding-right: 4px;
    margin-bottom: 6px;
  }

  .yelow{
    background-image:  url(images/read_more_yellow.png);
    background-repeat: no-repeat;
  }

  .yelow:hover{
    background-image:  url(images/read_more_blue.png);
    background-repeat: no-repeat;
  }

  .way-box> img{
    position: absolute;
    left: 15px;
    bottom: 10px;
  }
  /* end index style */
 

  /* start contact form style */

.col-f{
  margin-top: 30px;
  font-size: 0.8em;

}

.grey> a{
  margin-right: -5px;
  color: rgb(105, 103, 103);
}

.grey> a:hover{
  color: rgb(0, 81, 161);    
}

.col1{
  position: relative;
  border-top:1px rgb(185, 185, 185) solid;
}

.col1> .grey{ 
  position: absolute;
  top: 8;
  right: 12;
}

.grey{
  color: rgb(105, 103, 103);
  font-size: 0.9em;
}

.col-f> .form-box{
  position: relative;
  margin-right: 20px;
}

.form-title{
  margin-bottom: 10px;
  margin-left: 15px;
  width: 425px;
  border-bottom:1px rgb(185, 185, 185) solid;
}

.form-title> h2{
  margin-bottom: 2px;
}

.in-box-form{
  position: absolute;
  top: 55;
  right: 25;
}
.in-box-form> h4{
  margin-top: -10px;
  margin-bottom: -5px;
}

textarea{
  font-family: Arial;
  color: rgb(105, 103, 103);
}

.button{
  position: absolute;
  left: 5;
  margin-top: -5px;
  padding: 2px;
  border-top-right-radius: 4px;
  background-image: linear-gradient(rgb(71, 184, 236) ,20% , rgb(38, 49, 148) );
}

.button:hover{
  background-image: linear-gradient(rgb(224, 236, 55) ,20% , rgb(248, 88, 39) );
}

.button> a:hover{
  text-decoration: none;
  color: rgb(39, 38, 38);
}


form> div{
  display: flex;
  width: 250px;
  margin-right: 40px;
  margin-bottom: 5px;
  justify-content: space-between;
}

.up-row-f{
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
}

.d-row-f{
  position: relative
}

.up-row-f> .details, .d-row-f> .more{
  position: absolute;
  top: 0;
  right: 25;
}

.up-row-f> .details> p{
  margin-top: -18px;
}

.up-row-f> .details> h5{
  margin-top: -5px;
}

.d-row-f> .more> h5{
  margin-top: 1px;
  margin-bottom: 1;
}

.more> a{
  color: blue;
  margin-right: -5px;
}

.more> a:hover{
  color: rgb(0, 81, 161);  
}

.blue{
  color: rgb(0, 81, 161);
}
  /* end contact form style */

footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 38px;
  background-image: url(images/footer_bg.png); 
  padding: 10px; 
  justify-content: center;
}

 
