* {
    box-sizing: border-box;
  }
  
  body{
    font-family: Arial;
    direction: rtl;
    text-align: right;
    margin: 0px;
  }
  
  header{
    height: 105px;
    background-image: url(images/header_bg.png);   
  }

  .box{
    text-align: left;
    padding: 20px;
        /* temp padding */
  }

  #klick{
    display: inline;
  } 

  .menu{
    height: 44px;
    margin-top: -44px;    
  }

  .logo> img{
    position: absolute; 
    top: -44;
    right: -150 ;
  }

        /* menu content start */
  .drop{
    position: relative;
    margin-right: 10px;
    margin-left: 10px; 
  }

  ul{
    list-style: none;
    justify-content: center;
  }
 
  .drop-con{
    position: absolute;
    display: none;
    background-color: rgb(155, 152, 152);   
  }

  .drop:hover> .drop-con{
      display: block;
  }
        /* menu end */

 .row {
    display: flex;
    flex-wrap: wrap;
  }

  .content{
    height: 100%;
  }
    
  .col{
    width: 33.3%;
  }

  .col> .up-row{
    border: blue solid;
    /* temp border */
    height: 60%;
  }  
  .col> .d-row{
    border: blue solid;
        /* temp border */
    height: 40%;
  }  

  a{
    text-decoration: none;
    color: aliceblue;
    padding: 5px;
  }

  footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 38px;
    background-image: url(images/footer_bg.png); 
    padding: 10px; 
    justify-content: center;
  }

 
