* {
    box-sizing: border-box;
  }
  
  body{
    font-family: Arial;
    direction: rtl;
    text-align: right;
    margin: 0px;
  }
  
  header{
    height: 105px;
    background-image: url(images/header_bg.png);   
  }

  .box{
    text-align: left;
    padding: 20px;
        /* temp padding */
  }

  #klick{
    display: inline;
  } 

  .menu{
    height: 44px;
    margin-top: -44px;    
  }

  .logo> img{
    position: absolute; 
    top: -44;
    right: -150 ;
  }

        /* menu content start */
  .drop{
    position: relative;
    margin-right: 10px;
    margin-left: 10px; 
  }

  ul{
    list-style: none;
    justify-content: center;
  }
 
  .drop-con{
    position: absolute;
    display: none;
    background-color: rgb(155, 152, 152);   
  }

  .drop:hover> .drop-con{
      display: block;
  }

  .drop> a:hover{
    text-decoration: underline;
    color: rgb(0, 81, 161);
  }
        /* menu end */

 .row {
    display: flex;
    flex-wrap: wrap;
  }

  .content{
    height: 100%;
  }
    
  .col{
    width: 33.3%;
  }

  .col> .up-row{
    position: relative;
    width: 293px;
    height: 355px;
    margin-top: 20px;
    margin-right: 10px;
  }  

  .up-row> img{    
    width: 293px;
    height: 355px;
    border-bottom-right-radius: 2em;
  }

  .up-row> .in-box{    
    position: absolute;
    background-color: rgba(122, 121, 121, 0.904);
    right: 10px;
    bottom: 10px;
    padding: 10px;
    padding-top: 0px;
    width: 250px;
    color: #ffffff;
    font-size: 0.8em;
    border-bottom-right-radius: 2em;
  }

  .in-box> p, .in-box> h3{
    margin-right: 4px;
    margin-bottom: 0px;
    margin-top: 4px;
  }
  
  .more-con{
    text-align: left;
  }

  .more-con> a{
    text-align: left;
    text-decoration: underline;
  }

  .more-con> a:hover{
    color: rgb(0, 81, 161);
  }

  .col> .d-row{
    position: relative;
    border: blue solid;
        /* temp border */
    margin:  20;
  }  
  
  a{
    text-decoration: none;
    color: aliceblue;
    padding: 5px;
  }

  footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 38px;
    background-image: url(images/footer_bg.png); 
    padding: 10px; 
    justify-content: center;
  }

 
